/*
* #CEE5D0 - verde
* #F3F0D7 - amarillo
* #E0C097 - naranja
* #FF7878 - rosa
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    background: url('../img/fondo-oso.jpg');
    background-size: 10em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header{
    background: #F3F0D7;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #333;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
.logo > img{
    height: 70px;
}
.search{
    display: flex;
    align-items: center;
}
.searchForm{
    display: flex;
    justify-content: center;
}
.searchForm > input{
    width: 70%;
    padding: 3px 5px;
    margin: 0;
    border-radius: 5px;
    border: none;
    border: 2px solid #c7c7c7;
}
.searchForm > button{
    border: none;
    background: #fff;
    border: 2px solid #c7c7c7;
    margin-left: 5px;
    border-radius: 5px;
}
.menuBurger{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.menuBurger > i{
    font-size: 2rem;
    padding: 3px;
}
.menu > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*detalle producto*/

.footer{
    width: 100%;
    background: #F3F0D7;
    padding: 10px 0;
    border-top: 1px solid #000;
}
.specsInfo{
    margin: 10px 5px;
    border-top: 5px solid #ff7878;
}
.specsInfo > h3{
    margin: 3px 0;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.specsGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.specsGroupItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}
.specsGroupItem > p{
    width: 90%;
    margin: 0;
    padding: 5px 0;
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
}
.specsGroupItem > i{
    font-size: 2rem;
    display: block;
    padding: 10px;
    color: #CEE5D0;
    text-shadow: 0 1px 0 black;
}
.specsInfoName{
    font-weight: bold;
    font-size: 1.3rem;
}
.specsInfoResult{
    font-size: 1.1rem;
    color: #FF7878;
}
/*relacionados*/
.relacionados{
    width: 90%;
    margin: 10px auto;
}
.relaProduct > h3{
    font-size: 1.5rem;
}
.relaProImage{
    display: flex;
    align-items: center;
}
.relaProImage > img{
    width: 100%;
    border: 1px solid #000;
}
.relaCarrousel > i{
    font-size: 1rem;
}
.relaCarrousel{
    position: absolute;
}
.relaCarrouselRight{
    right: 20px;
}
.relaCarrouselLeft{
    left: 20px;
}
.oculto{
    display: none;
}
.tablet{
    display: none;
}
/*footer*/
.footer{
    width: 100%;
    background: #F3F0D7;
    padding: 10px 0;
    border-top: 1px solid #000;
}
.footer > p{
    text-align: center;
    margin: 20px 0 0 0;
}
.footer > div h4{
    font-size: 1.5rem;
    margin: 10px 0;
    padding-left: 10px;
}
.tarjetas{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.tarjetas > li{
    width: 50px;
    margin: 5px;
}
.tarjetas > li > img{
    width: 100%;
}
.infoList{
    list-style: none;
    margin: 0;
    padding: 0 2%;
}
.infoList > li{
    font-weight: bold;
    padding: 5px 0;
}
.redesFooter > h4{
    margin: 10px 1px
}
.redesList{
    min-height: 60px;
}
.redesList > li{
    float: left;
    font-size: 2.5rem;
    margin: 5px;
}
.menu a{
    color: black;
    text-decoration: none;
}
@media only screen and (min-width: 768px){
    .searchForm > input{
        width: 100%;
    }
    .searchForm{
        width: 70%;
    }
    .search{
        width: 60%;
        justify-content: center;
    }
    .info > .infoPrecio{
        font-size: 1.5rem;
    }
    .specsGroup{
        margin-bottom: 20px;
    }
    .specsGroupInf{
        display: flex;
    }
    .specsGroupItem{
        width: 100%;
        justify-content: flex-start;
    }
    .relaCarrousel > i{
        font-size: 3rem;
    }
    .relaCarrouselRight{
        right: 39px;
    }
    .relaCarrouselLeft{
        left: 39px;
    }
    .relaProImage{
        width: 30%;
        margin: 10px;
    }
    .relaProduct{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .relaProduct > h3{
        width: 100%;
    }
    .oculto{
        display: block;
    }
    .tablet{
        display: none;
    }
    .relaCarrousel > i{
        display: none;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .contGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 6 / 2; }
        .div2 { grid-area: 1 / 2 / 6 / 3; }
        .div3 { grid-area: 1 / 3 / 6 / 4; }
}
@media only screen and (min-width: 1024px){
    .header{
        align-items: center;
    }
    .contDesktop{
        width: 100%;
    }
    .contGrid{
        width: 100%;
    }
    .menu{
        display: block;
        margin-left: 5%;
    }
    .menu > ul{
        display: flex;
        font-weight: bold;
    }
    .menu > ul > li{
        font-size: 1rem;
        padding: 5px 10px;
    }
    .menuBurger{
        display: none;
    }
    .search{
        width: 30%;
    }
    /*producto*/
    .detailProduct{
        display: flex;
        flex-wrap: wrap;
    }
    .relaProduct > h3{
        width: 100%;
    }
    .relaProImage{
        width: 18%;
        margin: 10px;
    }
    .productImage{
        width: 50%;
    }
    .specs{
        display: flex;
    }
    .relaCarrousel > i{
        display: none;
    }
    .oculto{
        display: block;
    }
    /*footer*/
    .specsInfo{
        border-left: 1px solid #FF7878;
        padding-left: 10px;
    }
    .footer{
        flex-direction: column;
    }
    .footer > div h4{
        font-size: 1rem;
    }
    .tarjetas > li{
        width: 30px;
    }
    .redesList > li{
        font-size: 1.5rem;
    }
}