<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juegueteria GUGU</title>
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/5333537f63.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <!-- contenedor del logo -->
        <div class="top-header">
            <img src="img/logo_pequeño.png" alt="LOGO GUGU">
        </div>
        <!-- UL de producto,contacto y quienes somos -->
        <nav class="cont-ul">
            <ul class="lista-ul">
                <li><a href="/">INICIO</a></li>
                <li><a href="/productDetail">PRODUCTOS</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
            </ul>
        </nav>

        <!-- contenedor con enlaces de buscar login y carrito -->
        <div class="iconosYBuscar">   

            <div class="contenedor-icons">
                <form class="search-container" action="search" method="get">
                    <input type="text" placeholder="BUSCAR">
                    <button class="buttonSearch"><i class="fas fa-search"></i></button>
                </form>
            </div> 
            <div class="burguer">
                <i class="fas fa-hamburger"></i>
            </div>
        </div>
        
        <div class="user-car">
            <div class="contenedor-icons">
                <a href="/login" class="user"><i class="far fa-user"></i></a>
            </div>
            <div class="contenedor-icons">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>   
        </div>      
    </header>
    <!-- Seccion del carrusel -->
    <section class="contenedor-carrusel">
        <!-- contenedor de box-imagenes -->
        <div class="contenedor-imagenes-carrusel">
            <!-- imagenes del carrusel -->
            <ul class="slider">
                <li><img src="img/header2.jpg" alt="Images1"></li>
                <li><img src="img/icons/img/TARJETAS/amex@2x.png" alt="images2"></li>
                <li><img src="img/oso.png" alt="images1" alt="images3"></li>
                
            </ul>
        </div>
    </section>
    <div class="separador"></div>
    <!-- seccion de iconos edades y ofertas -->
    <section class="contenido">

        <article class="contenidos">
            <!-- contenedor truck card dollars -->
            <div class="iconos">
                <div class="contenido-iconos">
                    <div class="personalizado">
                        <i class="fas fa-truck"></i>
                    </div>
                    
                    <div class="contenido">
                        <h5>ENVIOS A TODO EL PAIS</h5>
                        <p>costo bajos</p>
                    </div>
                    
                </div>
                <div class="contenido-iconos">
                    <div class="personalizado">
                        <i class="far fa-credit-card"></i>
                    </div>
                    
                    <div class="contenido">
                        <h5>TODOS LOS MEDIOS DE PAGO</h5>
                        <p>Crédito y débito</p>
                    </div>
                </div>
                <div class="contenido-iconos">
                    <div class="personalizado">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    
                    <div class="contenido">
                        <h5>20% OFF</h5>
                        <p>Pagando en efectivo</p>
                    </div>
                </div>                
            </div>
        </article>
        <!-- Productos por edades -->
        <article class="contenidos">
            <h2>BUSCÁ POR EDADES</h2>
            <div class="contenedor-imagenes-edades">
                <div class="contenedor-img">
                    <div class="div-Imagenes"><img src="img/icons/img/baby_0_24.jpg" alt="de 0 a 24" class="imagenes-edades"><h4>DE 0 A 24 MESES</h4></div>
                    <div class="div-Imagenes"><img src="img/icons/img/edad_2_3.jpg" alt="de 2 a 3" class="imagenes-edades"><h4>DE 2 A 3 AÑOS</h4></div>
                    <div class="div-Imagenes"><img src="img/icons/img/de_4_6.jpg" alt="de 4 a 6" class="imagenes-edades"><h4>DE 4 A 6 AÑOS</h4></div>  
                </div>
                <!-- <div class="contenedor-titulos">
                    <h2>MÁS POPULARES</h2>
                    
                    
                </div> -->
                
                <div class="contenedor-img">
                    <div class="div-Imagenes">
                        <h2>MÁS POPULARES</h2>
                        <img src="img/icons/img/toys1.jpg" alt="boligrafo Multicolor" class="imagenes-edades"><h4>BOLIGRAFO MULTICOLOR</h4><p>$1300 | 20% OFF</p>
                    </div>
                    <div class="div-Imagenes">
                        <h2>OFERTAS</h2>
                        <img src="img/icons/img/michal-bozek-RcxR1aLw8X0-unsplash.jpg" alt="cubo de madera" class="imagenes-edades">
                        <h4>CUBO DE MADERA</h4>
                        <p>$3900 | 10% OFF</p>
                    </div>
                    <div class="div-Imagenes">
                        <h2>ENVIOS GRATIS</h2>
                        <img src="img/icons/img/trenes.jpg" alt="tren de madera" class="imagenes-edades">
                        <h4>TREN DE MADERA</h4>
                        <p>$3299 | 45% OFF</p>
                    </div>
                    
                
                    
                
                    
                </div>               
            </div>
        </article>
        <!-- <article class="contenidos"></article> -->
    </section>
    <!-- footer -->
    <footer class="pie-de-pagina">
        <div class="contenedores-pie">
            <div class="cards">
                 <h4>MEDIOS DE PAGO</h4>
                <img src="img/icons/img/TARJETAS/visa@2x.png" alt="Visa" class="tarjetas">
                <img src="img/icons/img/TARJETAS/banelco@2x.png" alt="Banelco" class="tarjetas">
                <img src="img/icons/img/TARJETAS/mastercard@2x.png" alt="MasterCard" class="tarjetas">
                <img src="img/icons/img/TARJETAS/rapipago@2x.png" alt="RapiPago" class="tarjetas">
                <img src="img/icons/img/TARJETAS/mercadopago@2x.png" alt="MercadoPago" class="tarjetas">
                <img src="img/icons/img/TARJETAS/tarjeta-naranja@2x.png" alt="Naranja" class="tarjetas">
                <img src="img/icons/img/TARJETAS/pagofacil@2x.png" alt="PagoFacil" class="tarjetas">
                <img src="img/icons/img/TARJETAS/tarjeta-shopping@2x.png" alt="TarjetaShopping" class="tarjetas">
            </div>
            <div class="cards">
                <h4>ENVIOS</h4>
                <img src="img/icons/img/TARJETAS/oca@2x.png" alt="oca">
            </div>  
        </div>
        <div class="contenedores-pie">
            <div class="cards">
                <h4>CONTACTO</h4>
                <div class="footer-items">
                    <div> <i class="fas fa-phone-alt"></i><p>11 1234-5678</p></div> 
                    <div><i class="fas fa-envelope"></i>
                    <p>info@gugu.com</p></div> 
                    <div><i class="fas fa-map-marker-alt"></i>
                    <p>AV. 9 de julio-CABA</p></div>               
                </div>
            </div>
            
        </div>
        <div class="contenedores-pie">
            <div class="cards">
                <h4>HORARIOS</h4>
                <div class="footer-items">
                    <div>
                        <i class="far fa-clock"></i>
                        <p>Lunes a Viernes de 10:30 a 13:00 <br> y de 15:00 a 18:00hs</p>
                    </div>
                    
                </div>
            </div>
            
           
        </div>
        <div class="contenedores-pie">
            <div class="cards">
                <h4>NUESTRAS REDES</h4>
                <div class="footer-items">
                    <div class="redes">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                
            </div> 
        </div>
    </footer>
</body>
</html>
