<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProducList</title>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="css/productos.css">
</head>
<body>
    <%- include('../partials/menuHeader')  %>
    <section class="filter-products">
        <div class="ordenar-productos-container">
            <div class="ordenar-products">
                <label for="ordenar-productos-lista">Ordenar por:</label>
                <select name="lista-opciones-prductos" id="li-products">
                    <option value="destacado">Destacados</option>
                    <option value="menorMayor">Precio: Menor a Mayor</option>
                    <option value="mayorMenor">Pecio: Mayor a Menor</option>
                    <option value="vendidos">Mas vendidos</option>
                </select>
            </div>
            <div class="filter-phone">
                <h3><a href="#">Filtrar ></a></h3>
            </div>   
        </div>
    </section>
    <section class="products-lista">
        <article class="products-lista-articulos">
            <div class="products-lista-articulos-contenedor_producto">
                <img src="img/trenes.jpg" alt="articulox">
                <div class="contenedor-producto-info">
                    <p>Un producto X</p>
                    <p>$xxxxx</p>
                </div>
                <div class="contenedor-producto-cuota">
                    <p>x cuotas sin interés de $ x </p>
                </div>
            </div>
            <div class="products-lista-articulos-contenedor_producto">
                <img src="img/icons/img/michal-bozek-RcxR1aLw8X0-unsplash.jpg" alt="articulox">
                <div class="contenedor-producto-info">
                    <p>Un producto X</p>
                    <p>$xxxxx</p>
                </div>
                <div class="contenedor-producto-cuota">
                    <p>x cuotas sin interés de $ x </p>
                </div>
            </div><div class="products-lista-articulos-contenedor_producto">
                <img src="img/icons/img/toys1.jpg" alt="articulox">
                <div class="contenedor-producto-info">
                    <p>Un producto X</p>
                    <p>$xxxxx</p>
                </div>
                <div class="contenedor-producto-cuota">
                    <p>x cuotas sin interés de $ x </p>
                </div>
            </div>
            <div class="products-lista-articulos-contenedor_producto">
                <img src="img/icons/img/michal-bozek-RcxR1aLw8X0-unsplash.jpg" alt="articulox">
                <div class="contenedor-producto-info">
                    <p>Un producto X</p>
                    <p>$xxxxx</p>
                </div>
                <div class="contenedor-producto-cuota">
                    <p>x cuotas sin interés de $ x </p>
                </div>
            </div>
        </article>
    </section>
    

    
</body>
</html>