<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/registro.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="img/logo_pequeño.png" alt="logo gugu">
        </div>
        <div class="menu tablet">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/productDetail">PRODUCTO</a></li>
                <li>QUIENES SOMOS</li>
                <li><a href="/contacto">CONTACTO</a></li>
            </ul>
        </div>
        <div class="search">
            <form action="#" class="searchForm">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar...">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="menu tablet">
            <ul>
                <li><a href="/login"><i class="fas fa-user"></i></a></li>
                <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="menuBurger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="contRE1">
        <h3>Bienvenido!</h3>
        <img src="img/oso.png" alt="oso">
    </div>
    <!--REGISTRO-->
    <section class="detailregister">
        <div class="contregist">
            <div class="contRE">
                <form class="registerForm" action="#">
                    <input type="text" placeholder="Nombre" name="nombre" id="nombre" required/>
                    <input type="text" placeholder="Usuario" name="usuario" id="usuario" required>
                    <input type="email" placeholder="Email" name="email" id="email" required/>
                    <input type="text" placeholder="Domicilio" name="direccion" id="direccion">
                    <input type="tel" placeholder="Teléfono (opcional)" name="telefono" id="telefono"/>
                    <input type="password" placeholder="Contraseña" name="contrasenia" id="contrasenia" minlength="8" required> 
                    <input type="password" placeholder="Confirmar contraseña" name="contrasenia1" id="contrasenia1" minlength="8" required/>
                    <input type="submit" value="REGISTRARSE">
                    <p>¿Ya tenés una cuenta? <a href="/login">Iniciar sesión</a></p>
                </form>
            </div>
            
        </div>
    </section>
    <!--REGISTRO-->

    <footer class="footer">
        <div class="contGrid">
            <div class="div1"> 
                <div class="pagosEnvios">
                    <h4>MEDIOS DE PAGO</h4>
                    <ul class="tarjetas">
                        <li><img src="img/TARJETAS/visa@2x.png" alt="Visa"></li>
                        <li><img src="img/TARJETAS/banelco@2x.png" alt="Banelco"></li>
                        <li><img src="img/TARJETAS/mastercard@2x.png" alt="MasterCard"></li>
                        <li><img src="img/TARJETAS/rapipago@2x.png" alt="Rapipago"></li>
                        <li><img src="img/TARJETAS/mercadopago@2x.png" alt="Mercadopago"></li>
                        <li><img src="img/TARJETAS/tarjeta-naranja@2x.png" alt="Tarjeta naranja"></li>
                        <li><img src="img/TARJETAS/pagofacil@2x.png" alt=""></li>
                        <li><img src="img/TARJETAS/tarjeta-shopping@2x.png" alt=""></li>
                    </ul>
                </div>
                <div class="pagosEnvios">
                    <h4>ENVIOS</h4>
                    <ul class="tarjetas">
                        <li><img src="img/TARJETAS/oca@2x.png" alt="Oca"></li>
                    </ul>
                </div>
            </div>
            <div class="div2">         
                <div class="contacto">
                    <h4>CONTACTO</h4>
                    <ul class="infoList">
                        <li><i class="fas fa-phone-alt"></i> 11 1234 5678</li>
                        <li><i class="fas fa-envelope"></i> contacto@gugu.com</li>
                        <li><i class="fas fa-map-marker-alt"></i> Av. 9 de julio 100 - CABA</li>
                    </ul>
                </div>
            </div>
            <div class="div3">        
                <div class="redesFooter">
                    <h4>NUESTRAS REDES</h4>
                    <ul class="infoList redesList">
                        <li><i class="fab fa-facebook-square"></i></li>
                        <li><i class="fab fa-instagram"></i></li>
                    </ul>
                </div> 
            </div>
        </div>
        <p>GUGU &copy; 2021.</p>
    </footer>
</body>
</html>