<header class="adminHeader">
    <h1>ADMIN</h1>
    <nav>
        <ul class="adminMenuH">
            <li><a href="/admin">ADMIN</a></li>
            <li><a href="/admin/stock">STOCK</a></li>
            <li><a href="">LINK3</a></li>
            <li><a href="">LINK4</a></li>
        </ul>
    </nav>
</header>