<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/prueba.css">
    <link rel="stylesheet" href="/css/perfilDeUsuario.css">
</head>
<body>
    <%- include("../partials/menuHeader.ejs")  %>
    <section class="datoUsuario">
        
        <article class="datosUsuario">
            <div class="contenedor-img">
                <img src="" alt="foto perfil">
            </div>
            <div class="mailName">
                <p class="name"> un nombre</p>
                <p class="mail"> un mail</p>
            </div>
            <div calss="estrellas">
                <p>averiguar las estrellas como colocarlas</p>
            </div>
        </article>
        <article class="datosUsuario">
            <div class="compras">
                <div class="img-producto">
                    <img src="" alt="productoX">
                </div>
                <div class="description">
                    <h3>Producto x</h3>
                </div>
            </div>
            <div class="compras">
                <div class="img-producto">
                    <img src="" alt="productoX">
                </div>
                <div class="description">
                    <h3>Producto x</h3>
                </div>
            </div>
            <div class="compras">
                <div class="img-producto"></div>
                <div class="description"></div>
            </div>
            <div class="compras">
                <div class="img-producto">
                    <img src="" alt="productoX">
                </div>
                <div class="description">
                    <h3>Producto x</h3>
                </div>
            </div>

        </article>
    </section>
    <%- include("../partials/footerBase.ejs")  %>
</body>
</html>